<ion-header>

  <ion-navbar>
    <ion-title>Talking to microservices</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <test-slots [slots]="testSlots"></test-slots>

  <button ion-button (click)="loadJournal()">Load Journal</button>
  <button ion-button (click)="loadJournalWithDelay()">
    <span *ngIf="!isJournalLoading">With Delay</span>
    <span *ngIf="isJournalLoading"><ion-spinner name="bubbles"></ion-spinner></span>
  </button>
  <button ion-button (click)="loadJournalWithChanceToFail()">With Chance to Fail</button>
  
  <messages></messages>
</ion-content>
