.mes-text-sm {
  font-size: 17px;
  font-weight: normal;
}

.mes-text-md {
  font-size: 20px;
  font-weight: normal;
}

// mes-headers

.mes-header-sm {
  font-size: 16px;
  font-weight: bold;
}

.mes-header-md {
  font-size: 20px;
  font-weight: bold;
}

.mes-header-lg {
  font-size: 24px;
  font-weight: bold;
}

.mes-header-xlg {
  font-size: 36px;
  font-weight: bold;
}

.mes-header-xxlg {
  font-size: 48px;
  font-weight: bold;
}
